
#home img,
#home #login{
	display: block;
}

#home img:first-child,
#home img:nth-child(2){
	margin: 5px auto;
}
#home #login{
	margin: 15px auto 8px;
	text-align: center;
}

/* div titulo eventos*/
#titulo-eventos {
	height: 42px;
	background-color: #569987;
}
#eventos .ui-header .ui-title{
	margin: 0;
	margin-top: 14px;
}
/* Arreglos del footer*/
.ui-footer-fixed{
	padding: 0;
}
/* Arreglos listview eventos*/
.links-plus{
	background-image: url(../img/enrolarme.png);
	width: 90px;
}
.links-registrado{
	background-image: url(../img/registrado.jpg);
	width: 90px;
}

.ui-btn-icon-notext .ui-btn-inner {
	height: 0;
}

/* Arreglos datos de los usuarios */
#datos-top{
	height: 145px;
}

#datos-top img{
	float: left;
}

#datos-top article{
	margin-left: 110px;
}


#datos section h4{
	text-align: center;
	margin: 0;
}
#datos section p{
	text-align: center;
}

.footer{
	text-align: center;
}

#form-registro input:focus:invalid, 
#form-registro textarea:focus:invalid{
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}